textarea.roman
{
	font-size: 14pt;
	font-family: "Palatino", "Times New Roman", "Times";
	color: #993300;
}

p.panelgk
{
	font-family: "New Athena Unicode","Lucida Grande", "KadmosU", "BosporosU", "Gentium","Palatino Linotype", "Arial","Cardo";
	font-size: 18pt;
	line-height: 18pt;
	color: black;
	text-align: left;
	background-color: #fff4d5;
	padding: 0;
	margin: 0;
	border-width: 0;
}

p.consonantgk
{
	font-family: "New Athena Unicode","Lucida Grande", "KadmosU", "BosporosU", "Gentium", "Palatino Linotype", "Arial","Cardo";
	font-size: 18pt;
	line-height: 30pt;
	color: black;
	text-align: center;
	background-color: #ffcc99;
	padding: 0;
	margin: 0;
	border-width: 0;
}

p.consonantgksm
{
	font-family: "New Athena Unicode","Lucida Grande", "KadmosU", "BosporosU", "Gentium", "Palatino Linotype", "Arial","Cardo";
	font-size: 14pt;
	line-height: 22pt;
	color: black;
	text-align: center;
	background-color: #ffcc99;
	padding: 0;
	margin: 0;
	border-width: 0;
}

p.consonantterm
{
	font-family: "Palatino";
	font-size: 14pt;
	line-height: 20pt;
	color: black;
	text-align: center;
	background-color: #ff9966;
	padding: 0;
	margin: 0;
	border-width: 0;
}

span.greek
{
	font-family:  "New Athena Unicode","Lucida Grande", "KadmosU", "BosporosU",  "Gentium", "Palatino Linotype", "Arial","Cardo";
}

span.greek14brown { font-family: "New Athena Unicode","Lucida Grande", "KadmosU", "BosporosU", "Gentium", "Palatino Linotype", "Arial","Cardo"; color: #993300; font-size: 14pt;}
span.greek2 { font-family: "New Athena Unicode","Lucida Grande", "KadmosU", "BosporosU", "Gentium", "Palatino Linotype", "Arial","Cardo"; color: black; font-size: 14pt;}
span.greek3 { font-family: "New Athena Unicode","Lucida Grande", "KadmosU", "BosporosU", "Gentium", "Palatino Linotype", "Arial","Cardo"; color: #993300; font-size: 12pt;}

p.banner
{
	font-family: "Palatino";
	font-size: 28pt;
	line-height: 50pt;
	color: black;
	background-color: #fff4d5;
	padding: 0px 0px 0px 40px;
	margin: 0;
	border-width: 0;
	min-width: 600px;

	vertical-align: baseline;
}

p.banner24
{
	font-family: "Palatino";
	font-size: 24pt;
	line-height: 60pt;
	color: black;
	background-color: #fff4d5;
	padding: 0px 0px 0px 40px;
	margin: 0;
	border-width: 0;
	min-width: 600px;

	vertical-align: baseline;
}

li.serif
{
	font-family: "Palatino","Times New Roman";
	font-size: 12pt;

}
p.notgr
{
	font-family: "Palatino","Times New Roman";
	font-size: 12pt;
	padding: 10px;
	margin: 10px 5px;
	border-width: 0;
}
p.notgrind
{
	font-family: "Palatino","Times New Roman";
	font-size: 12pt;
	padding: 0;
	margin: 10px 5px 10px 50px;
	border-width: 0;
}

p.note
{
	font-family: "Palatino","Times New Roman";
	font-size: 11pt;
	line-height: 13pt;
	padding: 0;
	margin: 10px 5px;
	border-width: 0;
}
p.note2
{
	font-family: "Palatino","Times New Roman";
	font-size: 11pt;
	line-height: 13pt;
	padding: 0;
	margin: 0px 15px;
	border-width: 0;
}

p.panelindex
{
	font-family: "Palatino";
	font-size: 16pt;
	line-height: 20pt;
	color: black;
	text-align: left;
	text-indent: -35px;
/* 
	background-color: #993300;
 */
	padding: 0;
	margin: 10px 2px 2px 45px;
	border-width: 0;
}
p.panelblack
{
	font-family: "Palatino";
	font-size: 12pt;
	line-height: 14pt;
	color: black;
	text-align: center;
/* 
	background-color: #993300;
 */
	padding: 0;
	margin: 3px 0px 0px 0px;
	border-width: 0;
}
p.panelyellow
{
	font-family: "Palatino";
	font-size: 12pt;
	line-height: 14pt;
	color: yellow;
	text-align: center;
	background-color: #993300;
	padding: 0;
	margin: 0;
	border-width: 0;
}

p.title
{
	font-family: "Palatino";
	font-size: 18pt;
	line-height: 20pt;
	color: black;
	text-align: left;
	padding: 10px 0px 0px 0px;
	margin: 0;
	border-width: 0;
}


p.smallerpanel
{
	font-family: "Palatino";
	font-size: 10pt;
	color: black;
	text-align: center;
	background-color: #993300;
	padding: 0;
	margin: 0;
	border-width: 0;
}

p.instruct
{
	font-family: "Palatino";
	font-size: 14pt;
	line-height: 16pt;
	color: #993300;
	text-align: left;
	padding: 0;
	margin: 0;
	border-width: 0;
}

p.instruct2
{
	font-family: "Palatino";
	font-size: 14pt;
	line-height: 16pt;
	color: #993300;
	text-align: center;
	padding: 0;
	margin: 10px 0px 10px 0px;
	border-width: 0;
}

a.panel:link
{
	text-decoration: none;
	color: black;
}

a.panel:visited
{
	text-decoration: none;
	color: black;
}

a.panel:active { text-decoration: none; }

a.itemBig:link
{
	text-decoration: none;
	color: #993300; 
	font-size: 16pt; 

}

a.itemBig:visited
{
	text-decoration: none;
	color: #993300;
}

a.itemBig:active { text-decoration: none; }

a.item:link
{
	text-decoration: none;
	color: #993300; 
	

}

a.item:visited
{
	text-decoration: none;
	color: #993300;
}

a.item:active { text-decoration: none; }

a.cons:link
{
	text-decoration: none;
	color: black;
}

a.cons:visited
{
	text-decoration: none;
	color: black;
}

a.cons:active { text-decoration: none; }

h3.brown
{
	padding: 10px;
	margin: 10px 15px 0px 50px;

color: #993300;
}
